* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.campoTitulo {
    text-align: center;
    font-size: 50px;
    color: rgb(96, 96, 192);
}

.input {
    padding-right: 400px;
    font-size: 35px;
    margin-left: 30%;
    margin-bottom: 50px;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 768px) {
    .input {
        font-size: 20px;
        padding-right: 0; /* Remove o preenchimento direito */
        margin-left: 0; /* Remove a margem esquerda */
        width: 100%; /* Define a largura como 100% para ocupar toda a largura do contêiner */
    }

    .campoTitulo {
        font-size: 35px;
    }
}

